@font-face {
    font-family: "vazir";
    src: url('fonts/parsiDigits/Vazir-FD.eot');
    src: url('fonts/parsiDigits/Vazir-FD.eot?#iefix') format('vazir-opentype'),
    url('fonts/parsiDigits/Vazir-FD.woff') format('woff'),
    url('fonts/parsiDigits/Vazir-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.mn {
    flex:0 0 auto;
    position: relative;
    min-width: 8.333333%;
}
.bg-gray {
    /*background: #d5d5d5;*/
    background: #eaeaea;
}
*{
    direction: rtl;
    font-family: "vazir";
}
li {
    list-style: none;
}
.nav-bar {
    height: 60px;
    background: var(--danger) url("images/nav.jpg") center center no-repeat;
    background-size: cover;
}
.nav-bar a:hover{
    color: #ffffff;
}
.nav-bar div:hover {
    border-bottom: rgba(255, 255, 255, 0.75) solid 2px;
}
.nav-bar a {
    color: #ffffff;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    text-align: center;
}
.nav-bar > div {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.nav-bar > div:first-of-type:hover , .nav-bar > div:last-of-type:hover {
    border: none !important;
}
.nav-bar > div:last-of-type {
    margin-right: auto !important;
    margin-left: 10px;
}
.nav-bar > div:last-of-type a {
    justify-content: end !important;
}
a , a:hover {
    text-decoration: none;
}
.ntgl {
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ntgl i {
    display: block;
    height: 2x;
    width: 30px !important;
    border: rgba(255, 255, 255, 0.85) 1px solid;
    background: rgba(255, 255, 255, 0.85);
    margin-top: 5px;
    border-radius: 7px;
    transition: 650ms;
}
.ntgl i:nth-child(1) {
    position: absolute;
    top: 5px;
}
.ntgl i:nth-child(2) {
    position: absolute;
    top: 15px;
    opacity: 1;
}
.ntgl i:nth-child(3) {
    position: absolute;
    top: 25px;
}
.tgl i:nth-child(1) {
    position: absolute;
    top: 15px !important;
    transform: rotate(-45deg);

}
.tgl i:nth-child(2) {
    position: absolute;
    top: 15px;
    opacity: 0;
}
.tgl i:nth-child(3) {
    position: absolute;
    top: 15px !important;
    transform: rotate(45deg);
}
@keyframes slide--in-rl {
    0% {
        opacity: 0;
        width: 0;
        right: -300px;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;}
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
        right: 0;
    }
}
@keyframes fade--in {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    60% {
        opacity: 0.4;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }

}
.nav-frame {
    position: absolute;
    display: none;
    top: 60px;
    width: 100%;
    max-width: 300px;
    background: rgba(214, 72, 72, 0.37);
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    z-index: 2;
    opacity: 0;
    /*transition: opacity 1s;*/
}
.show {
    display: flex;
    animation: slide--in-rl 500ms forwards;
}
.in{
    /*opacity: 1;*/
}
.nav-frame > li {
    display: flex;
    justify-content: start;
    width: 100%;
    height: 40px;
    align-items: center;
}
.nav-frame > li > a {
    justify-content: start;
    padding: 0 35px 0 0 !important;
    border: rgba(255, 255, 255, 0.37) 1px solid;

}
.nav-frame > li > a:hover {
    background: rgba(255, 167, 167, 0.54);
}
span[class^="icon-"], span[class*=" icon-"] {
    display: flex;
    margin-left: 5px;
}
span.icon-home {
    margin-bottom: 4px;
}
@media (max-width: 576px) {
        .slider1 {
                height: 55vw !important;
        }
    .swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
        font-size: 8vw;
    }
}

.slider1 {
    padding: 0;
    margin: 0 auto;
    height: 40vw;
    width: 100%;
}
.swiper1 {
    height: 100% !important;
    width: 100% !important;
}
.swiper1 img {
    width: 100%;
    height: 100%;
}

.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
    color: rgba(255, 255, 255, 0.66) !important;
}
